#btn-inscrever {
}

#lbl-data {
  color: rgb(255,255,255);
  /*font-size: 30px;*/
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 50px;
  margin-top: auto;
  text-shadow: 0px 5px 3px rgba(1,41,38,0.5);
}

#navcol-1 > a {
  font-size: 30px;
  color: rgb(255,255,255);
  margin-right: 10px;
  margin-left: 10px;
}

.fullHeader {
  height: 100vh;
  width: 100vw;
  background: url("/assets/img/home/Acorda%20Jovem%202022_site.jpg") center / cover;
}

.contentLogo {
  position: absolute;
  width: 90vw;
  height: 65vh;
  margin-left: 5vw;
  margin-bottom: 40vh;
  background: url("/assets/img/home/logo_acordaJovem.png") center / contain no-repeat;
  max-width: none;
}

#wrapper {
  /*display: block;*/
  /*position: relative;*/
  /*margin-top: 5vh!important;*/
  /*margin-bottom: 0!important;*/
  /*padding: 0 0 0 0!important;*/
}

.contentLogo > div > a {
  border-radius: 20px;
  width: 200px;
  letter-spacing: 0px;
  font-family: Lato, sans-serif;
  font-weight: 900;
  height: 45px;
  box-shadow: 0px 0px 16px 7px rgba(1,39,37,0.5);
}

.smalltext > p {
  font-family: Lato, sans-serif;
  font-weight: 500;
  text-align: center;
}

